.logo {
    font-size: 18px;
    font-family: #F9FAF8;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
} 

.right {
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content:right;
    border-color: red;
}

.left {
    justify-content: center;
    align-items: right;
}

.containerone {
    display: flex;
    background-color: #1F2937;
    color:white;
    padding: 90px;
    border: 90px;
    justify-content: space-around;
}

.rb {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 150px;
    width: 300px;
    align-items: center;
}

.lb {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 300px;
    align-items: center;
}

.fmid {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 26px;
    font-weight: bolder;
}

.flex-container {
    background: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}

.one {
    border: 6px solid #3882f6;
    border-radius: 25px;
    padding:65px;
}

.two {
    border: 6px solid #3882f6;
    border-radius: 25px;
    padding:65px;
}

.three {
    border: 6px solid #3882f6;
    border-radius: 25px;
    padding:65px;
}

.four {
    border: 6px solid #3882f6;
    border-radius: 25px;
    padding:65px;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #e5e7eb;
}

.quotebox {
    width: 500px;
    font-size: 26px;
    font-style: light italic;
    color: #1F2937;
}

.flex-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.ffcontainer {
    display: flex;
    background-color:  #3882f6;;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 125px;
    color: white;
    border-radius: 25px;
}

p {
    margin: 0%;
}

.rtext {
    display: flex;
    color: white;
    border: 2px solid white;
    padding: 10px;
}

.footer {
    display: flex;
    height: 40px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}
    
