.logo {
    font-size: 18px;
    font-family: #F9FAF8;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
} 

.right {
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content:right;
    border-color: red;
}

.left {
    justify-content: center;
    align-items: right;
}

.containerone {
    display: flex;
    background-color: #1F2937;
    color:white;
    padding: 90px;
    border: 90px;
    justify-content: space-around;
}

.rb {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 150px;
    width: 300px;
    align-items: center;
}

.lb {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 300px;
    align-items: center;
}

.fmid {
    display: flex;
    background-color: brown;
    justify-content: center;
    height: 50px;
    font-size: 26px;
    font-weight: bolder;
}

.flex-container {
    background: peachpuff;
    border: 4px solid brown;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}

.one {
    border: 10px solid blue;
    padding:65px;
}

.two {
    border: 10px solid blue;
    padding:65px;
}

.three {
    border: 10px solid blue;
    padding:65px;
}